/* =====================================
    Ozk4rSs
    Code version: 1.0
    No es 100% mio, pero se intenta aprender
    Proyecto para crear webs perzonalisadas en Blooger
    ====================================
*/
/* ==Importaciones de Fonts== */
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Inder");

/* == General y Body == */
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* == Header, color, logo & contenido == */
.Header-Inicio{
    width: 100%;
    height: 65px;
    background-color:#0b0C10;
    position: fixed;
	top:0;
	z-index:1;
}/*Color del Header*/
.Header-Inicio .logo a{
    font-size: 30px;
    color: #C5C6C7;
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    display: block;
    float: left;
    font-family: "Audiowide", sans-serif;
}/* Logo del Header */
nav ul{
    float: right;
} /* Mandarlo hacia la derecha */
nav ul li{
    display: inline-block;
    line-height: 45px;
} /* Listas */
nav ul li a{
    font-size: 15px;
    color: #C5C6C7;
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    display: block;
    float: left;
    font-family: "Audiowide", sans-serif;
} /* Enlaces */

nav ul li a:hover{
    background-color:#1F2833;
    transition: all 0.2s;
} /* Hover de los enlaces */

/* == Hamburgesa animada (Copiada) == */
.hamb{
    cursor: pointer;
    float: right;
    padding:30px 20px;
    display: none;
}

.hamb-line{
    background: #66FCF1;
    display: block;
    height: 2px;
    position: relative;
    width: 20px;
}/* Linea */
.hamb-line::before,
.hamb-line::after{
    background:#66FCF1;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
} /* Linea arriba y abajo */
.hamb-line::before{
    top: 5px;
} /* espacio de linea */
.hamb-line::after{
    top: -5px;
} /* espacio de linea */
.side-menu{
    display:none;
} /*Quita el Checkbox */
/* Animacion */
.side-menu:checked ~ .hamb .hamb-line{
    background:transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
    background-color: #1F2833;
}
.side-menu:checked ~ .hamb .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
}
/* == Footer de la web  siempre abajo,
        el body ayuda al codigo del footer == */

.final{
    background-color: #0b0C10;
    padding: 0.5em 0;
    text-align: center;
    bottom: 0;
    margin-top: auto;
}
.final .contF{
    color: #C5C6C7;
}
.contF .copy{
    margin: 30px;
    font-size: 20px;
    font-family: "Inder", sans-serif;
}
.contF .redes{
    text-align: center;
    padding-bottom: 20px;
}
.contF .redes a{
    color: #C5C6C7;
}

/* == Responsividad de la pagina == */
@media (max-width: 952px){

}/* Tablet */
@media (max-width: 858px){
    .hamb{
        display: block;
    }
    .Header-Inicio .Barra a:hover{
        background-color: #26313d;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1F2833;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: grid;
        padding: 20px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover{
        background-color: #26313d;
    }

    .side-menu:checked ~ ul{
        left: 0;
        z-index: 1;
    }
}/* Celular */